if ROCKCHIP_RK3128

choice
	prompt "RK3128 board select"

config TARGET_EVB_RK3128
	bool "RK3128 evaluation board"
	select BOARD_LATE_INIT
	help
	  RK3128evb is a evaluation board for Rockchip rk3128,
	  with full function and phisical connectors support like
	  usb2.0 host ports, LVDS, JTAG, MAC, SDcard, HDMI, USB-2-serial...

config TARGET_POMERA_DM200
	bool "King Jim Pomera DM200"
	select BOARD_LATE_INIT
	help
	  Pomera DM200 with 512 MiB RAM, RK818 and UART1 console.
	  Runs after a Rockchip DDR loader and miniloader.

config TARGET_POMERA_DM250
	bool "King Jim Pomera DM250"
	select BOARD_LATE_INIT
	help
	  Pomera DM250 with 1 GiB RAM, RK818 and UART1 console.
	  Runs after a Rockchip DDR loader and miniloader.

config TARGET_POMERA_DM250US
	bool "King Jim Pomera DM250US"
	select BOARD_LATE_INIT
	help
	  Pomera DM250US with 1 GiB RAM, RK818 and UART1 console.
	  Runs after a Rockchip DDR loader and miniloader.

endchoice

config ROCKCHIP_BOOT_MODE_REG
	default 0x100a0038

config ROCKCHIP_STIMER_BASE
	default 0x200440a0

config SYS_SOC
	default "rk3128"

config SYS_MALLOC_F_LEN
	default 0x0800

source "board/rockchip/evb_rk3128/Kconfig"
source "board/kingjim/pomera_dm200/Kconfig"
source "board/kingjim/pomera_dm250/Kconfig"
source "board/kingjim/pomera_dm250us/Kconfig"

endif
